# Dependencias - La carpeta más importante a ignorar
/node_modules

# Carpeta de compilación de Vite
/dist

# Archivos de caché de Vite
.vite/

# Logs de gestores de paquetes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de entorno local (contienen claves secretas)
.env
.env.local
.env.*.local

# Carpetas de configuración de editores de código e IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Reportes de pruebas
/coverage
/\\.nyc_output